<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>clash-sub</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container class="mx-auto fill-height" style="max-width: 700px">
            <v-card class="d-flex flex-column align-center">
              <v-card-title style="width: 100%" class="grey lighten-3">
                <a
                  class="text-h3 text-decoration-none font-weight-bold text-uppercase mx-auto"
                  href="https://github.com/Flysky12138/clash-sub"
                  target="_blank"
                  rel="noopener noreferrer"
                  >clash-sub</a
                >
              </v-card-title>
              <v-divider width="100%" class="gray"></v-divider>
              <v-card-text>
                <v-row class="my-3">
                  <v-col cols="12">
                    <v-text-field
                      v-model="from.url"
                      label="Clash 订阅地址"
                      placeholder="https://xxx"
                      hint="多个用 , 隔开"
                      outlined
                      clearable
                      dense
                      counter
                      :counter-value="v => v ? v.trim().split(',').length : 0"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="from.add"
                      label="额外添加节点"
                      placeholder="vmess://xxx"
                      hint="多个用 , 隔开"
                      outlined
                      clearable
                      dense
                      counter
                      :counter-value="v => v ? v.trim().split(',').length : 0"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="from.filter"
                      label="过滤，得到节点名包含填写字符串的节点"
                      placeholder="香港,新加坡"
                      hint="多个用 , 隔开"
                      outlined
                      clearable
                      dense
                      counter
                      :counter-value="v => v ? v.trim().split(',').length : 0"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field v-model="from.host" label="混淆" placeholder="ltetp.tv189.com" outlined clearable dense></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-radio-group v-model="from.ruleType" row class="mt-0 pt-0" id="radio-group" dense>
                      <v-radio v-for="n in 3" :key="n" :label="labels[n-1]"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col cols="12">
                    <v-btn color="success" block elevation="1" @click="copy" :disabled="!from.url">复制订阅地址</v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-snackbar v-model="snackbar" timeout="6000" shaped class="mt-2" light transition="slide-y-transition" absolute top>
                <span class="font-weight-bold">复制成功</span>
                <template v-slot:action="{ attrs }">
                  <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
                </template>
              </v-snackbar>
            </v-card>
          </v-container>
        </v-main>
      </v-app>
    </div>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
          from: {
            url: '',
            add: '',
            host: '',
            filter: '',
            ruleType: 1
          },
          labels: ['全代理', '白名单', '黑名单'],
          snackbar: false
        },
        created() {
          ;({ ...this.from } = { ...this.getData() })
        },
        methods: {
          // url=xxx&host=xxx => encodeURI => base64
          getQuery() {
            let query = ''
            for (const [key, value] of Object.entries(this.from)) {
              if (value !== '') {
                query = `${query}&${key}=${value}`
              }
            }
            return window.btoa(window.encodeURIComponent(query.replace('&', '')))
          },
          // 保存表单到localStorage中
          saveData() {
            localStorage.setItem('from', JSON.stringify(this.from))
          },
          // 从localStorage中读取数据
          getData() {
            return JSON.parse(localStorage.getItem('from'))
          },
          // 复制订阅链接到剪切板
          copy() {
            const aux = document.createElement('input')
            aux.setAttribute('value', `${location.origin}/subscribe?${this.getQuery()}`)
            document.body.appendChild(aux)
            aux.select()
            document.execCommand('copy')
            document.body.removeChild(aux)
            this.snackbar = true
            this.saveData()
          }
        }
      })
    </script>
    <style>
      #radio-group {
        display: flex;
        justify-content: space-evenly;
      }
    </style>
  </body>
</html>
